/*

# folders
!/docs
!/gradle
!/src

# files
!/.gitignore
!/README.md
!/build.gradle
!/build.properties
!/gradlew
!/gradlew.bat
!/changelog.md

# APIs and dependencies
!/libs

######################################
## Remove MAC OSX generated garbage
######################################

*/.DS_Store
.DS_Store
.DS_Store?
.Trashes
Icon?

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
