/*

# folders
!/docs
!/gradle
!/src

# files
!/.gitignore
!/README.md
!/build.gradle
!/build.properties
!/gradlew
!/gradlew.bat
!/changelog.md

# APIs and dependencies
!/libs
/libs/*
!/libs/APIs.zip
!/libs/ic2classic-api.zip
!/libs/asielib.jar
